<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Post a job listing</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>

    <main class="page-content">


    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>


    <h1 class="mt-3 text-center">Create Job Listing</h1>

    <form th:action="@{/jobs/create}" th:method="POST" th:object="${jobListing}" class="w-50 ml-auto mr-auto" id="createJobForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="title">Title</label>
                <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="ex. Junior Java Developer" required>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="company">Company</label>
                <div class="input-group">
                    <select class="custom-select form-control" name="company" id="company" required>
                        <option selected disabled>Choose...</option>
                        <option th:field="*{company}" th:each="company : ${companies}" class="dropdown-item" th:text="${company.name}" th:value="${company.id}"></option>
                    </select>
                </div>
                <small id="emailHelp" class="form-text text-muted text-right">Don't see your company? <a th:href="@{/companies/create}">Click here to add!</a></small>
            </div>

            <div class="form-group col-md-6">
                <label for="location">Location</label>
                <input type="text" th:field="*{location}" class="form-control" id="address-input" placeholder="ex. Houston, TX" required/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="jobDescription">Description</label>
                <textarea name="jobDescription" th:field="*{description}" id="jobDescription" placeholder="Enter description, job duties, required skills, preferred skills, etc..." class="form-control quill-editor" rows="10" required></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="jobAppURL">Application URL</label>
                <input type="text" th:field="*{applyUrl}" class="form-control" id="jobAppURL" placeholder="ex. https://www.example.com/apply/..." required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="remoteWorkCheck" th:value="true" th:field="*{isRemote}">
                    <label class="custom-control-label" for="remoteWorkCheck"><b>Remote position?</b></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>

</main>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

</div>

<script>
    var placesAutocomplete = places({
        appId: 'pl91Y2LN2WGM',
        apiKey: 'e2d6a9188b9819c4d4c2c3ad2bbf150b',
        container: document.querySelector('#address-input')
    });
    const reconfigurableOptions = {
        language: 'en', // Receives results in German
        countries: ['us'], // Search in the United States of America
        type: 'city', // Search only for cities names
        aroundLatLngViaIP: false // disable the extra search/boost around the source IP
    };

</script>



</body>
</html>
