<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Post a job listing</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container class="text-center">
    <h1>Create Job Listing</h1>
    <p><b>This page will only be visible to Users of the placement role.</b> Should load a form with the following input fields:

        <br/>
    <ul>
        <li>Title</li>
        <li>Company</li>
        <li>Location</li>
        <li>Description</li>
        <li>Required skills</li>
        <li>Preferred skills</li>
        <li>Point of contact</li>
        <li>Hyperlink to external application URL</li>
    </ul>

    And a button to submit posting.
    If the company does not exit, should direct them to another form to add the company/company logo/point of contact.
    </p>
</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>