<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs - Edit</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container>

<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-12">-->
<!--                <label for="title">Title</label>-->
<!--                <input type="text" class="form-control text-left" id="name" name="name" th:value="${job.title}" required>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-12">-->
<!--                <label for="logo">Upload logo</label>-->
<!--                &lt;!&ndash; TODO: INCLUDE FILESTACK COMPANY LOGO EDIT HERE AS PART OF FORM &ndash;&gt;-->
<!--                &lt;!&ndash;        <div class="form-group row">&ndash;&gt;-->
<!--                &lt;!&ndash;            <label for="title" class="col-sm-1 col-form-label text-right font-weight-bold">Name</label>&ndash;&gt;-->
<!--                &lt;!&ndash;            <div class="col-sm-11">&ndash;&gt;-->
<!--                &lt;!&ndash;                <input type="text" class="form-control text-left" id="name" name="name" th:value="${company.name}"/>&ndash;&gt;-->
<!--                &lt;!&ndash;            </div>&ndash;&gt;-->
<!--                &lt;!&ndash;        </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

        <h1 class="mt-3 text-center">Edit Job Listing</h1>

        <form th:method="POST" th:action="@{'/jobs/' + ${job.getId()} + '/edit'}" class="w-50 ml-auto mr-auto" id="editJobForm">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Title</label>
                    <input type="text" class="form-control text-left" id="title" name="name" th:value="${job.title}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="company">Company</label>
                    <div class="input-group">
                        <select class="custom-select form-control" name="company" id="company" required>
                            <option class="dropdown-item" th:text="${job.company.getName()}" th:value="${job.company.getId()}" selected disabled>Current company</option>
                            <option th:each="company : ${companies}" class="dropdown-item" th:text="${company.name}" th:value="${company.id}"></option>
                        </select>
                    </div>
                    <small id="emailHelp" class="form-text text-muted text-right">Don't see your company? <a th:href="@{/companies/create}">Click here to add!</a></small>
                </div>

                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <input type="text" th:value="${job.location}" class="form-control" id="location" required/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="jobDescription">Description</label>
                    <textarea name="jobDescription" th:utext="${job.description}" id="jobDescription" class="form-control quill-editor" rows="10" required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="jobAppURL">Application URL</label>
                    <input type="text" th:value="${job.applyUrl}" class="form-control" id="jobAppURL" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remoteWorkCheck" th:value="${job.isRemote}">
                        <label class="custom-control-label" for="remoteWorkCheck"><b>Remote position?</b></label>
                    </div>
                </div>
            </div>

        <button type="submit" class="btn btn-block btn-primary">Update listing</button>
    </form>

</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>