<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>
    <main class="page-content">
        <h1 class="display-3 text-center mb-3">Job Listings</h1>
        <hr class="hr-light w-50 mr-auto mt-0">

        <div th:replace="partials/jobpartials :: jobsListFrag"></div>
    </main>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
