<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<h1 class="mt-3 mb-5 text-center">Job Listings</h1>

<div class="container">
    <div th:replace="partials/jobpartials :: jobsListFrag"></div>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
