<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container mt-3 mb-3" id="individual-job-listing">
    <ul class="list-group list-group-flush">

    <!-- JOB TITLE, COMPANY, LOCATION, AND LISTING DATE -->
        <li class="list-group-item">

            <!--   Title   -->
            <h2 class="text-center mb-1" th:text="${job.title}"></h2>

                <!--   Company   -->
                <br><h5 class="text-black-50 text-center"><span th:text="${job.getCompany().getName()}"></span> |

                <!--   Location   -->
                <span th:text="${job.location}"></span></h5>

                <!--   Listing date   -->
                <br><b>Posted: <span th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}"></span></b>
        </li>

        <!-- JOB DESCRIPTION -->
        <li class="list-group-item">
            <h4>Description</h4>
            <p class="pl-5" th:text="${job.description}"></p>
        </li>

        <!-- JOB SKILLS -->
        <li class="list-group-item">
            <h4>Skills</h4>
            <b class="mt-5">Required</b>
            <p th:text="${job.requiredSkills}"></p>

            <br><br><b>Preferred</b>
            <p th:text="${job.preferredSkills}"></p>
        </li>

        <!-- POINT OF CONTACT -->
        <li class="list-group-item">
            <h4>Additional Information</h4>

            <b>Remote available?</b>
            <br /><span class="pl-5" th:text="${job.isRemote}? Yes : No ">N/A</span>

            <br><b>Point of Contact: </b>
<!--            <br><p th:text="${job.requiredSkills}"></p>-->
        </li>

        <!-- APPLY URL LINK -->
        <li class="list-group-item">
            <a th:href="@{${job.applyUrl}}" target="_blank">
                <button type="button" class="btn btn-primary btn-lg btn-block">Apply</button>
            </a>
        </li>
    </ul>

    <!--<div sec:authorize="isAuthenticated()" style="display: flex" class="ml-auto mr-auto w-100">-->
    <!--    <form method="GET" th:action="@{'/posts/' + ${post.getId()} + '/edit'}">-->
    <!--        <button class="btn btn-outline-primary">Edit</button>-->
    <!--    </form>-->

    <!--    <form method="POST" th:action="@{'/posts/' + ${post.getId()} + '/delete'}">-->
    <!--        <button class="btn btn-danger">Delete</button>-->
    <!--    </form>-->
    <!--</div>-->
</div>

<div class="text-center mb-3">
    <h2>Placement Team Controls</h2>
    <button type="button" class="btn btn-primary btn-lg">Edit</button>
    <button type="button" class="btn btn-danger btn-lg">Delete</button>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>