<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>
    <main class="page-content">


        <div class="media">
            <img class="align-self-start mr-3" style="max-width:10rem;"
                 th:if="${job.getCompany().getLogoImg() == null} OR ${job.getCompany().getLogoImg() == ''}"
                 th:src="@{/img/logo-placeholder.jpg}" alt="Placeholder logo">
            <img class="align-self-start mr-3" style="max-width:10rem;"
                 th:unless="${job.getCompany().getLogoImg() == null} OR ${job.getCompany().getLogoImg() == ''}"
                 th:src="${job.getCompany().getLogoImg()}" alt="Company logo">
            <div class="media-body">
                <h5 class="mt-0" th:text="${job.title}">Top-aligned media</h5>
                <span>
                    <span th:text="${job.getCompany().getName()}"></span> -
                    <span class="text-muted" th:text="${job.location}"></span>
                </span>
                <p> Listed: <span th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}"></span></p>

                <p th:utext="${job.description}">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu
                    leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <!--            <a th:href="@{${job.applyUrl}}" target="_blank">-->
            <!--                <button type="button" class="btn btn-primary btn-lg btn-block">Apply</button>-->
            <!--            </a>-->
            <!--            <a th:href="@{|/jobs/${job.id}/edit|}" th:if="${user.userPerm == 'admin'}">-->
            <!--                <button type="button" class="btn btn-primary btn-lg">Edit</button>-->
            <!--            </a>-->

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a th:href="@{${job.applyUrl}}" target="_blank">
                        <button type="button" class="btn btn-primary">APPLY</button>
                    </a>


                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group" th:if="${user.userPerm == 'admin'}">
                    <a th:href="@{|/jobs/${job.id}/edit|}">
                        <button type="button" class="btn btn-secondary">EDIT</button>
                    </a>
                    <button data-toggle="modal" data-target="#modalForJobDelete" type="button" class="btn btn-danger">
                        DELETE
                    </button>
                </div>

            </div>

        </div>
        <!--        <button th:if="${user.userPerm == 'admin'}" data-toggle="modal" data-target="#modalForJobDelete"-->
        <!--                class="dropdown-item btn btn-lg btn-danger">Delete-->
        <!--        </button>-->

        <!--        <div class="jumbotron jumbotron-fluid bg-secondary text-white">-->
        <!--            <div class="container">-->
        <!--                &lt;!&ndash; Company logo (if available) &ndash;&gt;-->
        <!--                <div class="mr-auto ml-auto logo shadow mb-3"-->
        <!--                     th:unless="${job.getCompany().getLogoImg() == 'null'} OR ${job.getCompany().getLogoImg() == ''}"-->
        <!--                     style="border-radius: 50%; overflow: hidden; width:200px; height: 200px;">-->
        <!--                    <img th:unless="${job.getCompany().getLogoImg() == 'null'} OR ${job.getCompany().getLogoImg() == ''}"-->
        <!--                         th:src="${job.getCompany().getLogoImg()}"-->
        <!--                         style="width:200px; height: 200px; vertical-align: middle; object-fit: cover;">-->
        <!--                </div>-->

        <!--                &lt;!&ndash;   Title   &ndash;&gt;-->
        <!--                <h1 class="display-4 text-center" th:text="${job.title}">Fluid jumbotron</h1>-->

        <!--                &lt;!&ndash;   Company   &ndash;&gt;-->
        <!--                <br><h5 class="text-black-50 text-center"><span th:text="${job.getCompany().getName()}"></span> |-->

        <!--                &lt;!&ndash;   Location   &ndash;&gt;-->
        <!--                <span th:text="${job.location}"></span></h5>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="container mt-3 mb-3" id="individual-job-listing">-->
        <!--            <ul class="list-group list-group-flush">-->

        <!--                &lt;!&ndash; JOB TITLE, COMPANY, LOCATION, AND LISTING DATE &ndash;&gt;-->
        <!--                <li class="list-group-item">-->

        <!--                    &lt;!&ndash;   Listing date   &ndash;&gt;-->
        <!--                    <br><b>Posted: <span th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}"></span></b>-->
        <!--                </li>-->

        <!--                &lt;!&ndash; JOB DESCRIPTION &ndash;&gt;-->
        <!--                <li class="list-group-item">-->
        <!--                    <h4>Description</h4>-->
        <!--                    <div class="pl-5" th:utext="${job.description}"></div>-->
        <!--                </li>-->

        <!--                &lt;!&ndash; ADDITIONAL INFO &ndash;&gt;-->
        <!--                <li class="list-group-item">-->
        <!--                    <h4>Additional Information</h4>-->

        <!--                    <b>Remote available?</b>-->
        <!--                    <br/><span class="pl-5" th:text="${job.isRemote}? Yes : No ">N/A</span>-->
        <!--                </li>-->

        <!--                &lt;!&ndash; APPLY URL LINK &ndash;&gt;-->
        <!--                <li class="list-group-item">-->
        <!--                    <a th:href="@{${job.applyUrl}}" target="_blank">-->
        <!--                        <button type="button" class="btn btn-primary btn-lg btn-block">Apply</button>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->

        <!--                <div class="text-center mb-3" th:if="${user.userPerm == 'admin'}">-->
        <!--                    <h2>Placement Team Controls</h2>-->

        <!--                    <a th:href="@{|/jobs/${job.id}/edit|}" th:if="${user.userPerm == 'admin'}">-->
        <!--                        <button type="button" class="btn btn-primary btn-lg">Edit</button>-->
        <!--                    </a>-->

        <!--                    <button th:if="${user.userPerm == 'admin'}" data-toggle="modal" data-target="#modalForJobDelete" class="btn btn-lg btn-danger">Delete</button>-->
        <!--                </div>-->

        <!-- Job delete confirmation modal -->

        <div class="modal fade" id="modalForJobDelete" tabindex="-1" role="dialog"
             aria-labelledby="jobDeleteModalLabel"
             aria-hidden="true" th:if="${user.userPerm == 'admin'}">

            <form th:action="@{'/jobs/' + ${job.id} + '/delete'}" th:method="POST" th:object="${job}">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-center text-danger" id="jobDeleteModalLabel">Warning</h2>
                        </div>
                        <div class="modal-body">
                            <p class="lead text-center">
                                Deleting this job listing is a permanent action. Please confirm to proceed.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
