<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Events - Edit</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>

    <main class="page-content">

        <h1 class="mt-3 text-center">Edit Event</h1>

        <form th:method="POST" th:action="@{'/events/' + ${event.getId()} + '/edit'}" class="w-50 ml-auto mr-auto"
              id="editJobForm">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Title</label>
                    <input type="text" class="form-control text-left" id="title" name="title" th:value="${event.title}"
                           required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="eventImg">Change event picture</label>
                    <div class="col-lg-9">
                        <button type="button" id="uploadEventImg" class="btn btn-primary rounded-pill">Choose file</button>

                        <span id="uploadSuccessful" class="ml-1 text-success" style="display: none; font-size: 1.25rem;">
                            <i class="far fa-check-circle"></i>
                        </span>

                        <input type="hidden" name="event_img" id="eventImg" th:value="${event.eventImg}">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date">Date</label>
                    <input name="date" type="date" th:value="${#dates.format(event.date, 'yyyy-MM-dd')}"
                           class="form-control" id="date" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="time">Time</label>
                    <input name="time" type="text" th:value="${event.time}" class="form-control" id="time" required/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="location">Location</label>
                    <input name="location" type="text" th:value="${event.location}" class="form-control" id="location"
                           required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="eventDescription">Description</label>
                    <textarea name="description" th:utext="${event.description}" id="eventDescription"
                              placeholder="Describe general purpose of event, dress code, any required materials, etc."
                              class="form-control quill-editor" rows="10" required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="rsvpUrl">RSVP URL</label>
                    <input name="rsvp_url" type="text" th:value="${event.rsvpUrl}" class="form-control" id="rsvpUrl"
                           placeholder="ex. https://www.example.com/rsvp/...">
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary">Edit event</button>
        </form>

    </main>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

<script>
    $("#uploadEventImg").click(function () {

        var placesAutocomplete = places({
            appId: 'pl91Y2LN2WGM',
            apiKey: 'e2d6a9188b9819c4d4c2c3ad2bbf150b',
            container: document.querySelector('#location')
        });
        const reconfigurableOptions = {
            language: 'en', // Receives results in German
            countries: ['us'], // Search in the United States of America
            type: 'city', // Search only for cities names
            aroundLatLngViaIP: false // disable the extra search/boost around the source IP
        };

        let client = filestack.init("A4cXA0jCTTJGCdD6ep1Btz");

        client
            .pick({
                accept: 'image/*',
                maxFiles: 1
            })
            .then(function (result) {
                let resultJSON = JSON.parse(JSON.stringify(result));
                let fsURL = resultJSON.filesUploaded[0].url;
                $("#eventImg").val(fsURL);
            })
            .then(function () {
                $("#uploadSuccessful").show();
            });
    });
</script>
</body>
</html>
