<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Events</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container class="text-center">
    <h1 class="mt-3">Upcoming Events</h1>


    <div th:replace="partials/partials :: eventsList"></div>
</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>