<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Events</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container class="text-center">
    <h1>All Event Listings</h1>
    <p>This page will show all the event listings as a card group. Each card be a hyperlink to the individual event page, and will include:
    <ul>
        <li>Event image (or placeholder)</li>
        <li>Title</li>
        <li>Date</li>
        <li>Time</li>
        <li>Location</li>
        <li>Description snippit</li>
    </ul>
    </p>
</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>