<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head"/>
<title>Resume Portal</title>
</head>

<body>

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>
    <main class="page-content">
        <div th:replace="partials/resumepartials :: resumeModals"></div>


        <h1 class="display-3 text-center mb-3">Resume Portal</h1>
        <hr class="hr-light w-50 mr-auto mt-0">

        <div th:if="${user.userPerm == 'student'}">

            <div class="d-flex justify-content-center mb-n4">
                <!-- Upload TBlock Form -->
                <form th:action="@{/resume}" th:method="POST" id="resumeUploadTBlock" class="d-inline mr-3 pt-2">
                    <button type="button" class="badge badge-pill badge-primary uploadTBlockResume"
                            style="font-size: 1.1rem">
                        <i class="fas fa-arrow-circle-up"></i>
                        T-Block
                    </button>
                    <input type="hidden" name="resumeURL" class="resumeURL"/>
                    <input type="hidden" name="resumeTitle" class="resumeTitle"/>
                    <input type="hidden" name="resumeType" value="t-block"/>
                </form>
                <h1>Upload</h1>
                <!-- Upload Vertical Form -->
                <form th:action="@{/resume}" th:method="POST" id="resumeUploadVertical" class="d-inline ml-3 pt-2">
                    <button type="button" class="badge badge-pill badge-primary uploadVerticalResume"
                            style="font-size: 1.1rem">
                        Vertical
                        <i class="fas fa-arrow-circle-up"></i>
                    </button>
                    <input type="hidden" name="resumeURL" class="resumeURL"/>
                    <input type="hidden" name="resumeTitle" class="resumeTitle"/>
                    <input type="hidden" name="resumeType" value="vertical"/>
                </form>
            </div>

            <!-- ######## RESUME TABLE ######## -->
            <table id="studentResumeTable" class="table table-hover w-100"
                   data-toolbar="#toolbar"
                   data-toggle="table"
                   data-sort-class="table-active"
                   data-sortable="true"
                   data-show-columns="true"
                   data-id-field="id"
                   data-cookie="true"
                   data-cookie-id-table="saveId">
                <thead>
                <tr>
                    <th data-field="file" data-sortable="true">File</th>
                    <th data-field="type" data-sortable="true" scope="col">Type</th>
                    <th data-field="revision" data-sortable="true" scope="col">Revision</th>
                    <th data-field="notes" data-sortable="true" scope="col">Notes</th>
                    <th data-field="status" data-sortable="true" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>

                <span th:each="resume : ${resumes}">
                    <tr>

                        <!-- Filename -->
                        <td>
                            <span th:text="${resume.title}"></span>
                            <!-- View uploaded File -->
                            <a th:href="${resume.link}" target="_blank" style="font-size: 1.5rem">
                                <i class="fas fa-binoculars pt-1 ml-2"></i>
                            </a>
                            <!-- Delete uploaded File -->
                            <button data-toggle="modal" data-target="#deleteResumeModal"
                                    class="btn btn-link text-danger trashcan mt-n2"
                                    th:data-id="${resume.id}" th:unless="${resume.status == 'Reviewed!'}">
                                <i class="fa fa-trash" style="font-size: 1.5rem"></i>
                            </button>
                        </td>

                        <td><div th:text="${resume.type}"></div></td>

                        <!-- View Resume Revision -->
                        <td class="text-center">
                            <a th:href="${resume.revision}" target="_blank"><i
                                    class="fas fa-binoculars" style="font-size: 1.5rem"></i></a>
                        </td>

                        <!-- Placement Notes -->
                        <td class="text-center">
                            <button type="button" class="btn btn-link text-primary resumeNotes" data-toggle="modal"
                                    data-target="#studentNotesModal" th:value="${resume.placementNotes}">
                                <i class="fas fa-binoculars" style="font-size: 1.5rem"></i>
                            </button>
                        </td>

                        <!-- Resume Status -->
                        <td class="text-center" style="font-size: 1rem">
                            <div th:text="${resume.status}" class="status badge badge-pill badge-success"
                                 th:if="${resume.status == 'Reviewed!'}" style="font-size: 1.2rem"></div>
                            <div th:text="${resume.status}" class="status badge badge-pill badge-warning"
                                 th:unless="${resume.status == 'Reviewed!'}" style="font-size: 1.2rem"></div>
                        </td>
                    </tr>
                    </span>
                </tbody>
            </table>

            <!-- Resume tips/tricks. download for example resume -->
            <h1 class="text-center my-5">Resume Builder Tips</h1>

            <p class="ml-3">
                During your time at Codeup, you will build at least 2 different types of resumes, a “T-Block” and a
                “Vertical". Today, we are going to go over the T-Block resume. The purpose of the T-Block resume is to
                have
                a 1 page, easy to consume resume. Your resume will be made up of 5-6 different sections listed below in
                order of importance:
            </p>
            <ul>
                <li>Professional Summary</li>
                <li>Technical Skills</li>
                <li>Development Projects</li>
                <li>Professional Experience</li>
                <li>Military Experience (if warranted)</li>
                <li>Education</li>
            </ul>


            <div class="accordion" id="resumeAccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Professional Summary
                            </button>
                        </h2>
                    </div>


                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#resumeAccordion">
                        <div class="card-body">
                            <p>A hiring manager will spend 5-7 seconds on a resume before they move on. This is where
                                you get their
                                attention.
                                Each summary should be made up of 2-3 sentences where you will:</p>

                            <ul>
                                <li>Bring out your good qualities</li>
                                <li>Mention why you decided to become a Software Developer</li>
                                <li>Why does this matter to a company</li>
                                <li>*If you get stuck trying to write your summary: ask loved ones what it is they love
                                    and respect
                                    about
                                    you.
                                    Take the characteristics they point out and infuse it into your summary. 
                                    Here are a few examples:
                                </li>
                            </ul>

                            <p>I love the way technology requires us to learn, relearn, unlearn, and create the most
                                optimal solutions
                                for
                                everyday
                                business needs. Ideas poised for generating real value in our communities are
                                conceptualized every day,
                                and
                                I’m
                                passionate about making these visions a reality using my skills as a software
                                developer.</p>

                            <p>Highly creative maker with a love for designing and building things for others to use.
                                Excellent
                                interpersonal
                                skills and a strong background in working collaboratively to solve complicated problems
                                and tackle
                                extensive
                                projects. Seeking to become a developer at a firm that values diversity, growing its
                                team members, and
                                giving
                                back
                                to the community.</p>

                            <p>As a software developer, I thrive most in the ever-changing technology enhancements by
                                constantly
                                performing
                                research and learning something new. I am versatile and a quick learner willing to
                                embrace new
                                challenges
                                and
                                eager
                                to learn more and grow as a software engineer. I will strive to be a supportive and
                                enthusiastic team
                                player
                                dedicated to streamlining processes and efficiently resolving project issues.</p>

                            <p>I am an innately inquisitive and purpose-driven developer with a fascination for creating
                                useful
                                products. As
                                a
                                former chef, I have cultivated strong problem-solving skills, and I know what it takes
                                to thrive in a
                                team
                                environment with customer satisfaction as a primary goal. I look forward to imparting
                                these skills along
                                with my
                                thirst to learn into being an effective programmer. It is my desire to join a team that
                                fosters personal
                                and
                                professional growth.</p>

                            <p>I love the dynamic tools software development gives me to tackle ideas and problems I
                                pursue and
                                encounter.
                                Programming is an exciting and engaging way to contribute to the digital machinery that
                                is the
                                cornerstone
                                of
                                our
                                modern world. It’s a constantly evolving field that always challenges me to learn and in
                                return gives me
                                great
                                flexibility to leverage my skills to solve problems and innovate.</p>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Contact Information
                            </button>
                        </h2>
                    </div>


                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#resumeAccordion">
                        <div class="card-body">
                            <p>(not a section heading > succinctly across the top of the resume)</p>

                            <p>Include the following contact information:</p>
                            <ul>
                                <li>Phone number (in this format > XXX-XXX-XXXX)</li>
                                <li>Email address</li>
                                <li>LinkedIn Profile URL</li>
                                <li>GitHub URL</li>
                                <li>Personal website (once approved)</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Technical Skills
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#resumeAccordion">
                        <div class="card-body">
                            <h3 class="text-left">Technical Skills</h3>
                            <p>This is where you list the Technical skills that you developed during your time here at
                                Codeup. It’s
                                very
                                important
                                that you only list Technical Skills that you can answer 3 levels deep in difficulty.
                                Please list the
                                following
                                skills:</p>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                JavaScript
                                BootStrap
                                VCS with Git
                                Paired Programming
                                Thymeleaf
                                Test-Driven Development
                                Java SE
                                MySQL
                                Spring Boot Framework
                                jQuery
                                Object-Oriented Programming
                                Java EE (Servlets, JSP)
                            </ul>

                            <p>If you’ve developed any additional skills but you’re not comfortable with an answer 3
                                levels deep in
                                difficulty,
                                you
                                may add a section called “Exposure to” and list those skills there.</p>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                Development Projects
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                         data-parent="#resumeAccordion">
                        <div class="card-body">
                            <p>It’s important to not only have technical knowledge but also technical projects. During
                                your time at
                                Codeup,
                                you
                                will build 4-5 projects that you will be listed here. IF you have the additional time to
                                create your
                                own
                                projects,
                                you are encouraged to add them instead of some of the earlier projects. The format of
                                the
                                descriptions
                                should
                                be:</p>

                            <ul>
                                <li>Give a summary of what the project was about.</li>
                                <li>What your role was and what languages were used to create the project.</li>
                                <li>List the projects in order, starting with the most recent.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 5 - Professional Experience -->
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                Professional Experience
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                         data-parent="#resumeAccordion">
                        <div class="card-body">
                            While you may or may not have any technical background, we still want to feature your
                            professional
                            background
                            and
                            those skills that you had that transferred over to making you a better Software Developer.
                            Give a
                            Summary of
                            your
                            responsibilities, ideally those relevant to the job you're looking for. See example of
                            resumes for
                            proper
                            format.

                            <h3 class="text-left">Military Experience (if applicable)</h3>
                            <p>List your Military background as far as what Branch, years served and duties. Please
                                include any
                                active
                                or
                                past
                                clearance.</p>

                            <h3 class="text-left">Education</h3>
                            <p>For Codeup, add the following:</p>

                            <p>A fully-immersive, project-based, and intensive 20-week full-stack Java career
                                accelerator that
                                provides
                                students
                                with 670+ hours of expert instruction in software development.</p>

                            <p>This is a great place to list any further education that you have, not including a high
                                school
                                diploma.
                                This
                                doesn’t
                                have to be restricted to technical degrees.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Placement/Admin View -->
        <div th:unless="${user.userPerm == 'student'}">

            <h1 class="text-center">Tracker</h1>

            <!-- Placement Resume Table -->
            <table id="placementResumeTable" class="table table-hover w-100"
                   data-toolbar="#toolbar"
                   data-toggle="table"
                   data-sort-class="table-active"
                   data-sortable="true"
                   data-show-columns="true"
                   data-id-field="id"
                   data-cookie="true"
                   data-cookie-id-table="saveId">

                <thead>
                <tr>
                    <th colspan="1" class="w-50">
                        <!-- Dropdown for cohorts -->
                        <select class="custom-select" id="cohort-dropdown">
                            <option disabled selected>Select Cohort</option>
                            <option th:each="cohort : ${cohorts}" class="dropdown-item" th:text="${cohort.name}"
                                    th:value="${cohort.id}">
                            </option>
                        </select>
                    </th>
                    <th colspan="3">
                        <!-- Dropdown for students -->
                        <select class="custom-select" id="student-dropdown">
                            <option disabled selected>Select Student</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th data-field="file" data-sortable="true">File</th>
                    <th data-field="type" data-sortable="true" scope="col">Type</th>
                    <th data-field="uploadRevision" data-sortable="true" scope="col">Revision</th>
                    <th data-field="uploadNotes" data-sortable="true" scope="col">Notes</th>
                </tr>
                </thead>

                <!-- Records created here in custom.js -->
                <tbody class="student-resumes"></tbody>
            </table>

            <!-- Form to submit resume revision -->
            <form th:action="@{resume/revision}" method="post" id="uploadResumeRevision">
                <input type="hidden" name="resumeRevisionUpload" id="resumeRevisionUpload">
                <input type="hidden" name="resumeId" id="resumeId">
            </form>

            <!-- Form to submit resume notes -->
            <form th:action="@{resume/notes}" method="post" id="uploadResumeNotes">
                <input type="hidden" name="resumeNotesUpload" id="resumeNotesUpload">
                <input type="hidden" name="resumeNotesId" id="resumeNotesId">
            </form>
        </div>
    </main>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
