<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head"/>
<title>Resume Portal</title>
</head>

<body>

<nav th:replace="partials/partials :: navbar"></nav>
<div th:replace="partials/resumepartials :: deleteResumeModal"></div>

<div class="container text-center">

    <h1>Resume Portal</h1>

    <h2 class="text-left">Resume</h2>
    <div class="d-flex">
        <!-- ######## TABLE - T-block Resume ######## -->
        <table class="table table-striped w-50 mr-5">

            <tr>
                <th colspan="2">
                    T-Block
                    <!-- Upload Resume Form -->
                    <form th:action="@{/resume}" th:method="POST" id="resumeUploadTBlock" class="d-inline">
                        <button type="button" class="btn btn-primary uploadTBlockResume">Upload</button>
                        <input type="hidden" name="resumeURL" class="resumeURL"/>
                        <input type="hidden" name="resumeType" value="t-block"/>
                    </form>
                </th>
            </tr>

            <tr>
                <th scope="col">Resume</th>
                <th scope="col">Status</th>
            </tr>

            <span th:each="resume : ${resumesTBlock}">
            <tr class="resume-row">
                <td>
                    <span class="w-25 mr-auto ml-auto" style="display: flex; justify-content: space-evenly">
                    <a th:href="${resume.link}" style="font-size: 1.5rem"><i class="fas fa-binoculars"></i></a>
                        <!-- Delete Button -->
                        <button data-toggle="modal" data-target="#deleteResumeModal"
                                class="btn btn-link text-danger" style="font-size: 1.5rem" th:data-id="${resume.id}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>
                </td>

                <td>
                    <p class="resume-status"></p>
                </td>
            </tr>
        </span>
        </table>
        <!-- ######## END TB TABLE ######## -->

        <!-- ######## TABLE - Vertical Resume ######## -->
        <table class="table table-striped w-50 ml-5">

            <tr>
                <th colspan="2">
                    Vertical
                    <!-- Upload Button -->
                    <form th:action="@{/resume}" th:method="POST" id="resumeUploadVertical" class="d-inline">
                        <button type="button" class="btn btn-primary uploadVerticalResume">Upload</button>
                        <input type="hidden" name="resumeURL" class="resumeURL"/>
                        <input type="hidden" name="resumeType" value="vertical"/>
                    </form>
                </th>
            </tr>

            <tr>
                <th scope="col">Resume</th>
                <th scope="col">Status</th>
            </tr>

            <span th:each="resume : ${resumesVertical}">
            <tr class="resume-row">

                <!-- DATA: Resume Versions -->
                <td>
                    <span class="w-25 mr-auto ml-auto" style="display: flex; justify-content: space-evenly">
                    <a th:href="${resume.link}">View</a>
                        <!-- Delete Button -->
                        <button data-toggle="modal" data-target="#deleteResumeModal"
                                class="btn btn-link text-danger" style="font-size: 1.5rem" th:data-id="${resume.id}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>
                </td>

                <!-- DATA: Status -->
                <td>
                    <p class="resume-status">Not uploaded.</p>
                </td>
            </tr>
        </span>
        </table>
        <!-- ######## END VERTICAL TABLE ######## -->
    </div>

    <h2 class="text-left">Notes</h2>
    <!-- Message from placement -->
    <p class="student-div">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            View Resume Notes
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body placement-resume-notes">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>

    <!-- Resume tips/tricks. download for example resume -->
    <h2 class="ml-auto">Resume Builder Tips</h2>
    <div class="student-div">
        <p>
            During your time at Codeup, you will build at least 2 different types of resumes, a “T-Block” and a
            “Vertical". Today, we are going to go over the T-Block resume. The purpose of the T-Block resume is to have
            a 1 page, easy to consume resume. Your resume will be made up of 5-6 different sections listed below in
            order of importance:
        </p>
        <ul>
            <li>Professional Summary</li>
            <li>Technical Skills</li>
            <li>Development Projects</li>
            <li>Professional Experience</li>
            <li>Military Experience (if warranted)</li>
            <li>Education</li>
        </ul>
    </div>

    <!-- PLACEMENT VIEW -->
    <h1>PLACEMENT VIEW</h1>
    <!-- Dropdown for cohorts -> dropdown for students -> button to download student resume -->
    <div class="student-div">
        <select class="custom-select" id="cohort-dropdown">
            <option>Select Cohort</option>
            <option th:each="cohort : ${cohorts}" class="dropdown-item" th:text="${cohort.name}"
                    th:value="${cohort.id}">
            </option>
        </select>
        <select class="custom-select" id="student-dropdown">
            <option>Select Student</option>
        </select>

<!--        <select class="custom-select" id="user-resume">-->
<!--            <option th:each-->
<!--        </select>-->
    </div>
</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>