<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!-- ########### Jobs Card ############## -->
<!--Basic job listing fragment used to show all jobs in cards.-->


<div th:fragment="jobsListFrag">
    <div class="row row-cols-1 row-cols-md-2" th:each="job : ${jobs}">
        <div class="col mb-4">
            <div class="card">
                <img class="card-img-top p-2" style="max-width:5rem;"
                     th:if="${job.getCompany().getLogoImg() == null} OR ${job.getCompany().getLogoImg() == ''}"
                     th:src="@{/img/logo-placeholder.jpg}" alt="Placeholder logo">
                <img class="card-img-top p-2" style="max-width:5rem;"
                     th:unless="${job.getCompany().getLogoImg() == null} OR ${job.getCompany().getLogoImg() == ''}"
                     th:src="${job.getCompany().getLogoImg()}" alt="Company logo">                <div class="card-body">
                    <h5 class="card-title" th:text="${job.title}">Card title</h5>
                    <p class="card-text"><a th:href="@{|/jobs/${job.id}|}" class="stretched-link">Read more...</a></p>
                <small th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">@mdo</small>
                </div>
            </div>
        </div>
    </div>
<!--    -->


</div>




<!-- Job List frag for the dashboard -->
<div th:fragment="dashJobsListFrag">
    <div class="card">
        <!-- title -->
        <div class="card-body">
<!--                            <img th:if="${job.getCompany().getLogoImg() == null} OR ${job.getCompany().getLogoImg() == ''}" th:src="@{/img/logo-placeholder.jpg}" alt="Placeholder logo" style="width: 75px; height:75px; vertical-align: middle; object-fit: cover;" src="">-->


            <div class="d-md-flex align-items-center">
                <div>
                    <h5 class="card-title">Latest Job Listings</h5>
                </div>
                <div class="ml-auto">
                    <div class="dl">
                        <a th:href="@{/jobs}">
                            <button class="btn btn-primary">View All</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <table id="jobslisting" class="table table-sm table-hover">
            <thead class="thead-light">
            <tr class="bg-light">
                <th class="border-top-0">Job Title</th>
                <!--                <th class="border-top-0">Company</th>-->
                <!--                <th class="border-top-0">Location</th>-->
                <th class="border-top-0">Listing Date</th>
            </tr>
            </thead>
            <tbody th:each="job,iterStat : ${jobs}" th:if="${iterStat.index}<5">
            <tr>                            <img  th:src="${job.getCompany().getLogoImg()}" alt="Company logo" style="width: 75px; height:75px; vertical-align: middle; object-fit: cover;" src="">
            </tr>
            <tr>
                <td><a th:href="@{|/jobs/${job.id}|}" th:text="${#strings.abbreviate(job.title, 50)}"></a></td>

                <!--                <td th:text="${job.getCompany().getName()}">(Company)</td>-->
                <!--                <td th:text="${#strings.abbreviate(job.location, 25)}">(Location)</td>-->
                <td th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">(Lisiting Date)</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<!--    <div th:each="job : ${jobs}" class="card mb-5" style="width: 18rem;">-->
<!--        <a th:href="@{|/jobs/${job.id}|}">-->


<!--            <h5 th:text="${job.title}" class="card-title"></h5>-->


<!--            <span th:text="${job.getCompany().getName()}">Company</span> | <span-->
<!--                th:text="${job.location}">Location</span>-->


<!--            <p th:utext="${#strings.abbreviate(job.description, 100)}" class="card-text">Description text.</p>-->


<!--            <span th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">Listing date</span>-->

<!--        </a>-->
<!--    </div>-->


</div>
