<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!-- ########### Jobs Card ############## -->
<!--Basic job listing fragment used to show all jobs in cards.-->

<div class="d-flex justify-content-around flex-wrap w-50-lg" th:fragment="jobsListFrag">

    <div th:each="job : ${jobs}" class="card mb-5" style="width: 18rem;">
        <a th:href="@{|/jobs/${job.id}|}">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <!-- Job title -->
                        <h5 th:text="${job.title}" class="card-title"></h5>

                        <!-- Company and Location -->
                        <span class="text-black-50"><span th:text="${job.getCompany().getName()}">Company</span> | <span
                                th:text="${job.location}">Location</span></span>
                    </li>

                    <li class="list-group-item">
                        <!-- Job description -->
                        <!-- Note: Limiting the jobs text (description) to 100 chars for readability in the card and to prevent growing the div. -->
                        <p th:utext="${#strings.abbreviate(job.description, 100)}" class="card-text">Description
                            text.</p>


                        <div class="text-right">
                            <!-- Posting date -->
                            <span class="text-black-50 text-right" style="font-size: .75rem;">Posted: <span
                                    th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">Listing date</span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    </div>
</div>

<!-- Job List frag for the dashboard -->
<div th:fragment="dashJobsListFrag">
    <div class="card">
        <!-- title -->
        <div class="card-body">
            <div class="d-md-flex align-items-center">
                <div>
                    <h5 class="card-title">Latest Job Listings</h5>
                </div>
                <div class="ml-auto">
                    <div class="dl">
                        <a th:href="@{/jobs}">
                            <button class="btn btn-primary">View All</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <table id="jobslisting" class="table table-sm table-hover">
            <thead class="thead-light">
            <tr class="bg-light">
                <th class="border-top-0">Job Title</th>
<!--                <th class="border-top-0">Company</th>-->
<!--                <th class="border-top-0">Location</th>-->
                <th class="border-top-0">Listing Date</th>
            </tr>
            </thead>
            <tbody th:each="job,iterStat : ${jobs}" th:if="${iterStat.index}<5">

            <tr>
                <td><a th:href="@{|/jobs/${job.id}|}" th:text="${#strings.abbreviate(job.title, 50)}"></a></td>

<!--                <td th:text="${job.getCompany().getName()}">(Company)</td>-->
<!--                <td th:text="${#strings.abbreviate(job.location, 25)}">(Location)</td>-->
                <td th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">(Lisiting Date)</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<!--    <div th:each="job : ${jobs}" class="card mb-5" style="width: 18rem;">-->
<!--        <a th:href="@{|/jobs/${job.id}|}">-->


<!--            <h5 th:text="${job.title}" class="card-title"></h5>-->


<!--            <span th:text="${job.getCompany().getName()}">Company</span> | <span-->
<!--                th:text="${job.location}">Location</span>-->


<!--            <p th:utext="${#strings.abbreviate(job.description, 100)}" class="card-text">Description text.</p>-->


<!--            <span th:text="${#dates.format(job.listingDate, 'MM-dd-yyyy')}">Listing date</span>-->

<!--        </a>-->
<!--    </div>-->


</div>
