<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">TechTrek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/profile}">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Job Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Event Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resume</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!-- All Modals -->
<div th:fragment="allModals">

    <!-- Register Modal -->
    <div th:fragment="registerModal" class="modal fade" id="registerModal" tabindex="-1" role="dialog"
         aria-labelledby="registerModalLabel"
         aria-hidden="true">
        <!-- Register Form -->
        <form th:action="@{/register}" th:method="post" th:object="${user}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center" id="registerModalLabel">Register</h2>
                    </div>
                    <div class="modal-body">

                        <!-- Dropdown for Cohort -->
                        <select name="cohort" id="cohort" th:field="*{cohortName}">
                            <option value="Fortuna">Fortuna</option>
                            <option value="Ganymede">Ganymede</option>
                            <option value="Hyperion">Hyperion</option>
                        </select>
                        <!-- First Name -->
                        <h3>Enter First Name</h3>
                        <input type="text" th:field="*{firstName}"/>
                        <!-- Last Name -->
                        <h3>Enter Last Name</h3>
                        <input type="text" th:field="*{lastName}"/>
                        <!-- Create Password -->
                        <h3 class="">Create Password</h3>
                        <input type="password" th:field="*{password}"/>
                        <!-- Confirm Password -->
                        <h3>Confirm Password</h3>
                        <input type="confirm-password" th:name="confirm_password"/>
                        <!-- Email -->
                        <h3>Email</h3>
                        <input type="email" name="email" th:field="*{email}"/>
                        <!-- Phone Number -->
                        <h3>Phone Number</h3>
                        <input type="text" th:field="*{phone_number}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="create">Register</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Login Modal -->
    <div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" role="dialog"
         aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <!-- Login Form -->
        <form th:action="@{/login}" th:method="post" th:object="${user}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center" id="loginModalLabel">Login</h2>
                    </div>
                    <div class="modal-body">
                        <h3 class="">Email</h3>
                        <!-- Username Here -->
                        <input type="text" th:field="*{email}"/>
                        <h3 class="">Password</h3>
                        <!-- Password Here -->
                        <input type="password" th:field="*{password}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="create">Login</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- JS scripts -->
<standard_scripts th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</standard_scripts>
</body>
</html>