<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!-- Head -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <!-- Filestack -->
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <!-- Summernote -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>TechTrek</title>
</head>
<body>

<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">TechTrek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Jobs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/jobs}">Browse</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/jobs/create}">Create listing</a>
                    <a class="dropdown-item" th:href="@{/companies}">Companies</a>
                    <a class="dropdown-item" th:href="@{/companies/create}">Add a company</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/events}">Browse</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/events/create}">Add event</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/resume}">Resume</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            <form class="form-inline my-2 my-lg-0 mr-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}"><span style="font-size: 1.5rem"><i
                        class="fa fa-user-circle"></i></span><span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}"><button class="btn btn-link text-danger">Logout</button></a>
            </li>
        </ul>
    </div>
</nav>


<!-- All Modals -->
<div th:fragment="allModals">

    <!-- Register Modal -->
    <div th:fragment="registerModal" class="modal fade" id="registerModal" tabindex="-1" role="dialog"
         aria-labelledby="registerModalLabel"
         aria-hidden="true">
        <!-- Register Form -->
        <form th:action="@{/register}" th:method="post" th:object="${user}"
              oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>

            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center" id="registerModalLabel">Register</h2>
                    </div>
                    <div class="modal-body">

                        <!-- Email -->
                        <h3>Email</h3>
                        <input type="email" name="email" th:field="*{email}" required/>

                        <!-- Username -->
                        <h3>Username</h3>
                        <input type="text" name="username" th:field="*{username}" value="*{email}">

                        <!-- Create Password -->
                        <h3 class="">Create Password</h3>
                        <input class="" id="pwd" type="password" th:field="*{password}" name="password" required/>
                        <div id="progress">
                            <div id="progress-bar"></div>
                        </div>

                        <!-- Confirm Password -->
                        <h3>Confirm Password</h3>
                        <input type="password" name="confirmPassword" required/>


                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="create">Register</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Login Modal -->
    <div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" role="dialog"
         aria-labelledby="loginModalLabel"
         aria-hidden="true">

        <!--         Login Form -->

        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="loginModalLabel">Login</h2>
                </div>
                <form th:action="@{/login}" th:method="post">
                    <div class="modal-body">

                        <!-- Username Here -->
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:</label>
                            <input class="form-control" id="username" name="username" type="text"/>
                        </div>

                        <!-- Password Here -->
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input class="form-control" id="password" name="password" type="password"/>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- Event Listings Fragment -->

    <div class="d-flex justify-content-around flex-wrap w-50-lg" th:fragment="eventsList">

        <div th:each="event : ${eventsList}" class="card mb-5" style="width: 18rem;">
            <a th:href="@{|/events/${event.id}|}">

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <!-- Event image or placeholder -->
                            <img src="..." class="card-img-top" alt="...">

                            <!-- Event title -->
                            <h5 th:text="${event.title}" class="card-title">Event title</h5>

                        </li>

                        <li class="list-group-item">

                            <!-- Date and Time -->
                            <span class="text-black-50"><span th:text="${#dates.format(event.date, 'MM-dd-yyyy')}">Date of Event</span>
                                <br /><span th:text="${event.time}">Time of Event</span></span>

                            <!-- Event Location -->
                            <br /><a th:href="|http://google.com/maps/place/${event.location}|" target="_blank"><span th:text="${event.location}"></span></a>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>



<!-- Loading SVG -->

<div class="d-flex justify-content-around flex-wrap w-50-lg" th:fragment="loadingAnimation">
    <?xml version="1.0" encoding="utf-8"?>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <circle cx="84" cy="50" r="10" fill="#0051a2">
            <animate attributeName="r" repeatCount="indefinite" dur="0.25s" calcMode="spline" keyTimes="0;1" values="10;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
            <animate attributeName="fill" repeatCount="indefinite" dur="1s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#0051a2;#89bff8;#408ee0;#1b75be;#0051a2" begin="0s"></animate>
        </circle><circle cx="16" cy="50" r="10" fill="#0051a2">
        <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
    </circle><circle cx="50" cy="50" r="10" fill="#1b75be">
        <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
    </circle><circle cx="84" cy="50" r="10" fill="#408ee0">
        <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
    </circle><circle cx="16" cy="50" r="10" fill="#89bff8">
        <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
    </circle>
        <!-- [ldio] generated by https://loading.io/ --></svg>
</div>



<!-- JS scripts -->
<standard_scripts th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/keys.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script>
        $('#jobDescription').summernote({
            height: 200,
            placeholder: 'Enter description, job duties, required skills, preferred skills, etc...',
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link']],
                ['misc', ['undo', 'redo', 'help']]
            ],

            popover: {
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']]
                ]
            }
        });

        $('#eventDescription').summernote({
            height: 200,
            placeholder: 'Enter description, job duties, required skills, preferred skills, etc...',
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link']],
                ['misc', ['undo', 'redo', 'help']]
            ],

            popover: {
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']]
                ]
            }
        });

        $(document).ready(function () {
            if (window.location.href.indexOf('#register') != -1) {
                $('#registerModal').modal('show');
            }
        });
    </script>
</standard_scripts>
</body>
</html>
