<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>

<!-- All Resume Modals -->
<div th:fragment="resumeModals">

    <!-- Delete Resume Modal -->
    <div th:fragment="deleteResumeModal" class="modal fade" id="deleteResumeModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteResumeModal"
         aria-hidden="true">

        <form th:action="@{resume/delete}" th:method="POST">

            <!-- Get ID here from custom.js-->
            <input type="hidden" name="deleteResumeId" id="deleteResumeId"/>

            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center text-danger"
                            id="companyDeleteModalLabel">Warning</h2>
                    </div>
                    <div class="modal-body">
                        <p class="lead">
                            Delete this resume? This action is final.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /end of modal -->

    <!-- Placement Notes Modal -->
    <div th:fragment="placementNotesModal" class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header mx-auto">
                    <h2 class="modal-title" id="exampleModalLongTitle">Notes</h2>
                </div>
                <div class="modal-body">
                    <button type="button" style="display : none" id="button-for-check"></button>
                    <textarea class="form-control" id="placement-resume-notes" rows="10"></textarea>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-primary sendNotes" id="placementResumeNotesId" data-dismiss="modal">Send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Student Notes Modal -->
    <div th:fragment="studentNotesModal" class="modal fade" id="studentNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header mx-auto">
                    <h2 class="modal-title" id="exampleModalLabel">Placement Review Notes</h2>
                </div>
                <div class="modal-body">
                    <p class="placement-resume-notes"></p>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>