<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Dashboard</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>
    <main class="page-content">

        <div class="row" th:replace="partials/partials :: adminDash" th:if="${user.userPerm == 'admin'}"></div>
        <div class="row" th:replace="partials/partials :: studentDash" th:if="${user.userPerm == 'student'}"></div>

        <div class="row" th:replace="partials/jobpartials :: dashJobList" ></div>

    </main>
</div>


<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

<div id="studentModalHolder"></div>


</body>
</html>
