<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Profile</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>



<!-- Bootstrap Profile -->
<div class="container-lg">
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <h1 class="display-4 mt-3 mb-0" th:text="${user.getFullName()}"></h1>
                <h4 th:unless="${user.cohort == null}" style="margin-top: -.25rem; color: lightgray; font-weight: normal">
                    <span th:text="${user.getCohort().name}"></span> cohort, <i class="mr-2 fa fa-map-marker" aria-hidden="true"></i><span th:text="${user.getCohort().location}"></span>
                    <br><small>Graduating <span th:text="${#dates.format(user.cohort.getGraduationDate(), 'MM-yyyy')}"></span></small>
                </h4>

                <ul class="nav nav-tabs" style="margin-top: 2rem;">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#documents" data-toggle="tab" class="nav-link">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">

                        <!-- Employment status block -->
                        <div id="userEmploymentStatusBlock" th:unless="${user.employmentStatus == null}" class="mb-3">
                            <span th:unless="${user.employmentStatus == null}">
                                        <h2 th:if="${user.employmentStatus == T(dev.techtrek.techtrek.models.EmploymentStatus).AVAILABLE}">
                                            <span class="badge badge-success">Available for hire <i class="ml-1 fa fa-check-circle"></i></span>
                                        </h2>

                                        <h2 th:if="${user.employmentStatus == T(dev.techtrek.techtrek.models.EmploymentStatus).HIRED}">
                                            <span class="badge badge-info">Hired <i class="ml-1 fa fa-lock"></i></span>
                                        </h2>
                                    </span>
                        </div>

<!--                        <h5 class="mb-3">Username: <span class="badge badge-pill badge-primary" th:text="${user.getUsername()}"></span></h5>-->

                        <div class="row">
                            <div class="col-md-6">
                                <h6>About</h6>
                                <p>
                                    <span th:if="${user.bioSummary == ''}">
                                        No description for <span th:text="${user.userfirstname}"></span> yet.
                                    </span>
                                    <span th:unless="${user.bioSummary == ''}" th:text="${user.bioSummary}"></span>
                                </p>

                                <h6>Desired work location(s)</h6>
                                <p>
                                    <span th:if="${user.workLocation == ''}">
                                        <span th:text="${user.userfirstname}"></span> has not specified their desired work location(s) yet.
                                    </span>
                                    <span th:unless="${user.workLocation == ''}" th:text="${user.workLocation}"></span>
                                </p>
                            </div>


                            <div class="col-md-6">

                                <!-- Contact info -->
                                <div id="userInfoBlock">
                                    <!-- Email -->
                                    <span th:unless="${user.email == ''}">
                                        <strong>Email: </strong><span th:text="${user.email}"></span>
                                    </span>

                                    <!-- Phone number -->
                                    <br><span th:unless="${user.phoneNumber == ''}">
                                        <strong>Phone: </strong><span th:text="${user.phoneNumber}"></span>
                                    </span>
                                </div>

                                <div class="d-flex mt-2" style="font-size: 2rem">

                                    <!-- Link to Github profile -->
                                    <span th:unless="${user.githubUsername == ''}">
                                        <a th:href="'https://github.com/' + ${user.githubUsername}" target="_blank">
                                            <i class="fa fa-github mr-2"></i>
                                        </a>
                                    </span>

                                    <!-- Link to LinkedIn profile -->
                                    <span th:unless="${user.linkedinUsername == ''}">
                                        <a th:href="'https://www.linkedin.com/in/' + ${user.linkedinUsername}" target="_blank">
                                            <i class="fa fa-linkedin-square mr-2"></i>
                                        </a>
                                    </span>

                                    <!-- Link to personal site -->
                                    <span th:unless="${user.userWebsite == ''}">
                                        <a th:href="${user.userWebsite}" target="_blank">
                                            <i class="fa fa-globe mr-2"></i>
                                        </a>
                                    </span>


                                </div>

                                <hr class="hr-light" />

                                <!-- Skills pill badges -->
                                <h6>Skills</h6>
                                <a href="#" class="badge badge-dark badge-pill">html5</a>
                                <a href="#" class="badge badge-dark badge-pill">react</a>
                                <a href="#" class="badge badge-dark badge-pill">codeply</a>
                                <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                                <a href="#" class="badge badge-dark badge-pill">css3</a>
                                <a href="#" class="badge badge-dark badge-pill">jquery</a>
                                <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                                <a href="#" class="badge badge-dark badge-pill">responsive-design</a>

                                <hr class="hr-light">

                                <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                                <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                                <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                            </div>
                        </div>

                        <!--/row-->

                    </div>

                    <div class="tab-pane" id="documents">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>.
                            Use this to show important messages to the user.
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to
                                    the latest summary report from the..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">Yesterday</span> There has been a request
                                    on your account since that was..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices
                                    quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt
                                    ullamcorper eros eget luctus.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for
                                    tibulum tincidunt ullamcorper eros.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="edit">
                        <form role="form" th:action="@{/profile}" th:method="post">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input name="userfirstname" class="form-control" type="text"
                                           th:value="${user.userfirstname}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input name="last_name" class="form-control" type="text"
                                           th:value="${user.lastName}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Cohort</label>
                                <div class="col-lg-9">
                                    <!-- If user already has cohort, this dropdown will pre-select their cohort from list -->
                                    <span th:unless="${user.cohort == null}">
                                        <select class="custom-select form-control" name="cohort" id="cohort">
                                            <option th:each="cohort : ${cohorts}" class="dropdown-item" th:selected="${cohort.id == user.cohort.getId()}" th:text="${cohort.name}" th:value="${cohort.id}"></option>
                                        </select>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Hire Status</label>
                                <div class="col-lg-9">
                                    <select class="custom-select form-control" name="employment_status" id="employmentStatus">
                                        <option th:each="status : ${T(dev.techtrek.techtrek.models.EmploymentStatus).values()}" th:value="${status}" th:selected="${user.getEmploymentStatus()}" th:text="${status.getDisplayValue()}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">About</label>
                                <div class="col-lg-9">
                                    <textarea rows="5" name="bio_summary" class="form-control" type="text"
                                           th:text="${user.bioSummary}">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Desired work location(s)</label>
                                <div class="col-lg-9">
                                    <input id="workLocation" name="work_location" class="form-control" type="text"
                                              th:value="${user.workLocation}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input name="email" class="form-control" type="text"
                                           th:value="${user.email}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                                <div class="col-lg-9">
                                    <input name="phone_number" class="form-control" type="text"
                                           th:value="${user.phoneNumber}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Github username</label>
                                <div class="col-lg-9">
                                    <input name="github_username" class="form-control" type="text"
                                           th:value="${user.githubUsername}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">LinkedIn username</label>
                                <div class="col-lg-9">
                                    <input name="linkedin_username" class="form-control" type="text"
                                           th:value="${user.linkedinUsername}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Personal website URL</label>
                                <div class="col-lg-9">
                                    <input name="user_website" class="form-control" type="url"
                                           th:value="${user.userWebsite}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Skills</label>
                                <div class="col-lg-9">
                                    <h6 class="text-secondary mb-4">Note: You should be able to speak "3 levels deep" on any skills selected.</h6>
                                    <div class="row justify-content-around" name="skills">
                                        <div th:each="skill : ${skills}" class="form-check form-check-inline col-md-3">
                                            <input class="form-check-input" type="checkbox" th:id="'skillId' + ${skill.id}" th:value="${skill.id}">
                                            <label class="form-check-label" th:for="'skillId' + ${skill.id}" th:text="${skill.name}"></label>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <button type="submit" class="btn btn-block btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 order-lg-1 text-center mt-4">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control">Choose file</span>
                </label>
            </div>
        </div>
    </div>



    <!-- GITHUB BLOCK -->

    <div id="user-github-info" class="mr-auto ml-auto text-center">
        <hr data-content="Github Activity" class="hr-text mb-5" />

        <span th:if="${user.githubUsername == ''}">
            <p class="lead">No commit history available.</p>
        </span>

        <span th:unless="${user.githubUsername == ''}">


            <!-- Loading animation SVG that plays while commit history image loads -->
<!--            <div id="loadingAnimation" th:replace="partials/partials :: loadingAnimation"></div>-->

            <!-- Github commit history chart -->

            <img id="githubHistoryImg" th:src=" 'https://grass-graph.moshimo.works/images/' + ${user.getGithubUsername()} + '.png' " alt="Github commit history chart">

        </span>

    </div>

</div>


<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
