<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Profile</title>
</head>

<body>

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>

    <!-- Bootstrap Profile -->
    <main class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-2">
                    <h1 class="display-4 mt-3 mb-0" th:text="${user.getFullName()}"></h1>
                    <h3 class="mb-3"><span class="badge badge-pill badge-primary" th:text="${#strings.capitalize(user.getUserPerm())}">User role</span></h3>


                    <h4 th:unless="${user.cohort == null}"
                        style="margin-top: -.25rem; color: lightgray; font-weight: normal">
                        <span th:text="${user.getCohort().name}"></span> cohort, <i class="mr-2 fas fa-map-marker-alt" aria-hidden="true"></i><span
                            th:text="${user.getCohort().location}"></span>
                        <br><small>Graduating <span
                            th:text="${#dates.format(user.cohort.getGraduationDate(), 'MM-yyyy')}"></span></small>
                    </h4>

                <ul class="nav nav-tabs" style="margin-top: 2rem;">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#documents" data-toggle="tab" class="nav-link">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Employment status block -->
                                <div id="userEmploymentStatusBlock" th:unless="${user.employmentStatus == null}" class="mb-3">
                            <span th:unless="${user.employmentStatus == null}">
                                <h2 th:if="${user.employmentStatus == T(dev.techtrek.techtrek.models.EmploymentStatus).AVAILABLE}">
                                    <span class="badge badge-success">Available for hire <i class="ml-1 fas fa-check-circle"></i></span>
                                </h2>

                                <h2 th:if="${user.employmentStatus == T(dev.techtrek.techtrek.models.EmploymentStatus).HIRED}">
                                    <span class="badge badge-info">Hired <i class="ml-1 fas fa-lock"></i></span>
                                </h2>
                            </span>
                                </div>


                                <h5>About</h5>
                                <p>
                                    <span th:if="${user.bioSummary == ''}">
                                        No description for <span th:text="${user.userfirstname}"></span> yet.
                                    </span>
                                    <span th:unless="${user.bioSummary == ''}" th:text="${user.bioSummary}"></span>
                                </p>

                                <h5>Desired work location(s)</h5>
                                <p>
                                    <span th:if="${user.workLocation == ''}">
                                        <span th:text="${user.userfirstname}"></span> has not specified their desired work location(s) yet.
                                    </span>
                                    <span th:unless="${user.workLocation == ''}" th:text="${user.workLocation}"></span>
                                </p>
                            </div>


                            <div class="col-md-6">

                                <!-- Contact info -->
                                <div id="userInfoBlock">
                                    <!-- Email -->
                                    <span th:unless="${user.email == ''}">
                                        <strong>Email: </strong><span th:text="${user.email}"></span>
                                    </span>

                                    <!-- Phone number -->
                                    <br><span th:unless="${user.phoneNumber == ''}">
                                        <strong>Phone: </strong><span th:text="${user.phoneNumber}"></span>
                                    </span>
                                </div>

                                <div class="d-flex mt-2" style="font-size: 2rem">

                                    <!-- Link to Github profile -->
                                    <span th:unless="${user.githubUsername == ''}">
                                        <a th:href="'https://github.com/' + ${user.githubUsername}" target="_blank">
                                            <i class="fab fa-github mr-2"></i>
                                        </a>
                                    </span>

                                    <!-- Link to LinkedIn profile -->
                                    <span th:unless="${user.linkedinUsername == ''}">
                                        <a th:href="'https://www.linkedin.com/in/' + ${user.linkedinUsername}" target="_blank">
                                            <i class="fab fa-linkedin mr-2"></i>
                                        </a>
                                    </span>

                                    <!-- Link to personal site -->
                                    <span th:unless="${user.userWebsite == ''}">
                                        <a th:href="${user.userWebsite}" target="_blank">
                                            <i class="fas fa-globe mr-2"></i>
                                        </a>
                                    </span>


                                </div>

                                <hr class="hr-light" />

                                <!-- Skills pill badges -->
                                <h5>Skills</h5>

                                <span th:if="${user.getSkills().isEmpty()}">No skills selected yet.</span>

                                <span th:unless="${user.getSkills().isEmpty()}" th:each="skill : ${user.getSkills()}" class="badge badge-dark badge-pill mr-1" th:text="${skill.getName()}">Skill name</span>
                            </div>
                        </div>

                        <!--/row-->

                    </div>

                    <div class="tab-pane" id="documents">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>.
                            Use this to show important messages to the user.
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        hi
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="edit">
                        <form role="form" th:action="@{/profile}" th:method="post">
                            <div class="form-group row">

                                <label class="col-lg-3 col-form-label form-control-label">Profile picture</label>
                                <div class="col-lg-9">
                                    <button type="button" id="uploadProfilePic" class="btn btn-primary rounded-pill">Choose file</button>

                                    <span id="uploadSuccessful" class="ml-1 text-success" style="display: none; font-size: 1.25rem;">
                                        <i class="far fa-check-circle"></i>
                                    </span>

                                    <input type="hidden" name="profile_pic" id="profilePic" th:value="${user.profilePic}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input name="userfirstname" class="form-control" type="text"
                                           th:value="${user.userfirstname}">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input name="last_name" class="form-control" type="text"
                                           th:value="${user.lastName}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Cohort</label>
                                <div class="col-lg-9">
                                    <!-- If user already has cohort, this dropdown will pre-select their cohort from list -->
                                    <span th:unless="${user.cohort == null}">
                                        <select class="custom-select form-control" name="cohort" id="cohort">
                                            <option th:each="cohort : ${cohorts}" class="dropdown-item" th:selected="${cohort.id == user.cohort.getId()}" th:text="${cohort.name}" th:value="${cohort.id}"></option>
                                        </select>
                                    </span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Hire Status</label>
                                <div class="col-lg-9">
                                    <select class="custom-select form-control" name="employment_status" id="employmentStatus">
                                        <option th:each="status : ${T(dev.techtrek.techtrek.models.EmploymentStatus).values()}" th:value="${status}" th:selected="${user.getEmploymentStatus() == status}" th:text="${status.getDisplayValue()}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">About</label>
                                <div class="col-lg-9">
                                    <textarea rows="5" name="bio_summary" class="form-control" type="text"
                                           th:text="${user.bioSummary}">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Desired work location(s)</label>
                                <div class="col-lg-9">
                                    <input id="workLocation" name="work_location" class="form-control" type="text"
                                              th:value="${user.workLocation}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input name="email" class="form-control" type="text"
                                           th:value="${user.email}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                                <div class="col-lg-9">
                                    <input name="phone_number" class="form-control" type="text"
                                           th:value="${user.phoneNumber}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Github username</label>
                                <div class="col-lg-9">
                                    <input name="github_username" class="form-control" type="text"
                                           th:value="${user.githubUsername}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">LinkedIn username</label>
                                <div class="col-lg-9">
                                    <input name="linkedin_username" class="form-control" type="text"
                                           th:value="${user.linkedinUsername}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Personal website URL</label>
                                <div class="col-lg-9">
                                    <input name="user_website" class="form-control" type="url"
                                           th:value="${user.userWebsite}">
                                </div>
                            </div>
                            <input type="hidden" name="user_perm" th:value="${user.userPerm}">

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Skills</label>
                                <div class="col-lg-9">
                                    <h6 class="text-secondary mb-4">Note: You should be able to speak "3 levels deep" on any skills selected.</h6>
                                    <div class="row justify-content-around">
                                        <div th:each="skill : ${skills}" class="form-check form-check-inline col-md-3">
                                            <input name="skills" class="form-check-input" type="checkbox" th:id="'skillId' + ${skill.id}" th:value="${skill.id}" th:checked="${user.skills.contains(skill)}">
                                            <label class="form-check-label" th:for="'skillId' + ${skill.id}" th:text="${skill.name}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <button type="submit" class="btn btn-block btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 order-lg-1 text-center mt-4">

                <!-- if profile pic is null display the default user svg pic-->

                <div class="mr-auto ml-auto" th:if="${user.profilePic == null} OR ${user.profilePic == ''}" style="width: 200px; height: 200px;">
                    <div th:replace="partials/svgpartials :: defaultProfilePic"></div>
                </div>

                <!-- If the profile pic is not null display the profile image url -->

                <div class="mr-auto ml-auto" th:unless="${user.profilePic == null} OR ${user.profilePic == ''}" style="border-radius: 50%; overflow: hidden; width:200px; height: 200px;">
                    <img th:src="${user.profilePic}" style="width: 200px; height: 200px; vertical-align: middle; object-fit: cover;"/>
                </div>
            </div>
        </div>
    </div>



    <!-- GITHUB BLOCK -->

    <div id="user-github-info" class="mr-auto ml-auto text-center">
        <hr data-content="Github Activity" class="hr-text mb-5" />

        <span th:if="${user.githubUsername == ''}">
            <p class="lead">No commit history available.</p>
        </span>

        <span th:unless="${user.githubUsername == ''}">

            <!-- Github commit history chart -->

            <img id="githubHistoryImg" th:src=" 'https://grass-graph.moshimo.works/images/' + ${user.getGithubUsername()} + '.png' " alt="Github commit history chart">

        </span>

    </div>

</div>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

<script>

    let client = filestack.init("A4cXA0jCTTJGCdD6ep1Btz");

    // Script to upload profile pic
    $("#uploadProfilePic").click(function () {

        client
            .pick({
                accept: 'image/*',
                maxFiles: 1
            })
            .then(function (result) {
                let resultJSON = JSON.parse(JSON.stringify(result));

                // store resume url in variable, pass that variable as a value to the view
                let fsURL = resultJSON.filesUploaded[0].url;
                $("#profilePic").val(fsURL);
                // $("#resumeUploadTBlock").submit();
            })
            .then(function () {
                $("#uploadSuccessful").show();
            });
    });
</script>

</body>
</html>
