* {
    transition: .2s;
}

:root {
    box-sizing: border-box;
    --codeup-green: rgb(104, 186, 46);
}

/*#landing-container {*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*}*/

/*.landing-text-container {*/
/*    position: page;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.landing-div {
    text-align: center;
    background-color: white;
    display: flex;
}

.landing-text {
    margin: auto auto;
    width: 50%;
}

.landing-img {
    width: 50%;
}

.landing-img > img {
    width: 100%;
    margin: auto auto;
}

.landing-buttons {
    background-color: #3c4858;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.icon-circle {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: .5rem auto 1rem auto;
    line-height: 4.5rem;
}

.red-bg {
    background-color: #b52628;
}

.yellow-bg {
    background-color: #f7bd48;
}

.blue-bg {
    background-color: #0a91ab;
}

.h1, h1 {
    margin-bottom: 1.5rem;
}

hr {
    border: .5px solid black;
}

.icon-circle > svg {
    width: 70%;
    width: 70%;
    height: 70%;
}

.feature-card:hover {
    transform: scale(1.15);
    z-index: 100;
}

@media screen {

}

/* PROGRESS BAR TEST */
#progress {
    height: 20px;
    width: 100%;
    margin-top: 0.6em;
}

#progress-bar {
    width: 0%;
    height: 100%;
    transition: width 200ms linear;
}

.progress-bar-danger {
    background: #dd5641;
}

.progress-bar-warning {
    background: #ffa720;
}

.progress-bar-success {
    background: #5ee990;
}

/* END PROGRESS BAR */

.student-div {
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.success {
    background-color: #b52628;
    color: white;
}

.gameplan {
    background-color: #ff5500;
    color: white;
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

/* Profile horizontal rule */

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #d9dee2;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-size: 2rem;
    color: black;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr.hr-light {
    position: relative;
    border: none;
    height: 1px;
    background: #d9dee2;
}
table {
    margin-bottom: 0;
}

.event-card:hover {
    transform: scale(1.08);
    transition: .2s;
}

.job-card:hover {
    transform: scale(1.05);
    transition: .2s;
}

.uploadTBlockResume:hover, .uploadVerticalResume:hover {
    transform: scale(1.05);
    transition: .2s;
}

.uploadVerticalResume:hover {
    font-size: 1.3rem;
}

#resume-notes, .placement-resume-notes {
    height: 300px;
}

main {
    font-size: 1rem;
}