* {
    transition: .2s;
}

:root {
    box-sizing: border-box;
    --codeup-green: rgb(104, 186, 46);
}

/*#landing-container {*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*}*/

/*.landing-text-container {*/
/*    position: page;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.landing-div {
    text-align: center;
    background-color: white;
    display: flex;
}

.landing-text {
    margin: auto auto;
    width: 50%;
}

.landing-img {
    width: 50%;
}

.landing-img > img {
    width: 100%;
    margin: auto auto;
}

.landing-buttons {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.icon-circle {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin: .5rem auto 1rem auto;
    line-height: 4.5rem;
}

.red-bg {
    background-color: #b52628;
}

.yellow-bg {
    background-color: #f7bd48;
}

.blue-bg {
    background-color: #0a91ab;
}

.h1, h1 {
    margin-bottom: 1.5rem;
}

hr {
    border: .5px solid black;
}

.icon-circle > svg {
    width: 70%;
    width: 70%;
    height: 70%;
}

.card:hover {
    transform: scale(1.15);
    z-index: 100;
}
