<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/material-kit.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/css/landing.css}">

    <title>TechTrek - Begin your journey</title>

</head>

<body>


<header class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="50">
    <div class="container justify-content-between">
        <a class="btn btn-rose btn-round" th:href="@{#about}" role="button">
            <strong>Learn More</strong>
        </a>
        <span>
        <a class="btn btn-rose btn-round" th:href="@{/login}" role="button" target="_blank">
            <strong>Login</strong>
        </a>
        <a class="btn btn-rose btn-round" th:href="@{/register}" role="button" target="_blank">
            <strong>Register</strong>
        </a>
        </span>
    </div>
</header>

<section class="page-header text-center position-relative banner-section"
         style="background-image: url(img/mountains-2.jpg);">
    <div class="container">

        <h1 class="title display-1 my-0"><span id="techtrek-title"></span></h1>

        <h3 id="techtrek-subtitle" style="opacity: 0">Connecting developers with the tools they need.</h3>
    </div>
</section>

<main class="main main-raised" id="about">
    <section class="section text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <h2 class="title mb-4" data-aos="fade-up">About TechTrek...</h2>
                    <p data-aos="fade-up">Landing your first Software Developer role can be daunting. TechTrek was
                        developed by web development graduates to provide job placement resources in a user-friendly,
                        straightforward format.</p>
                    <p data-aos="fade-up">For placement team members, TechTrek provides a simple tool to keep your
                        job-seeking students and staff members informed of resume changes and career status.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h2 class="title mb-4" data-aos="fade-up">Functionality...</h2>
            </div>
        </div>
        <div class="container">

            <div class="row" style="margin-bottom: 4rem">
                <div class="col-md-12">
                    <div class="row border-0" data-aos="fade-right">
                        <div class="col-md-4 m-auto" style="display: flex; align-items: center;">
                            <div style="width:300px; height: 300px; border-radius:50%; background: var(--rose)">
                                <div class="m-auto" th:replace="partials/svgpartials :: resumeIcon" ></div>
                            </div>
                        </div>
                        <div class="col-md-8 my-auto pl-5">
                            <h3 class="card-title mb-1">Resume Assistance</h3>
                            <hr class="hr-light w-50">
                            <p class="card-text">
                                Your resume is a critical component of your transition to tech.
                                Highlighting your skills, projects, and prior experience will help you stand out from the crowd. Upload and receive feedback easily from your placement team with TechTrek's Resume Portal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 4rem">
                <div class="col-md-12">
                    <div class="row border-0" data-aos="fade-left">
                        <div class="col-md-8 my-auto pr-5">
                            <h3 class="card-title mb-1">Job Listings</h3>
                            <hr class="hr-light w-50">
                            <p class="card-text">
                                Never miss a job opportunity with TechTrek's job listings page! Populated by your
                                placement team, TechTrek only shows openings relevant to your cohort's qualifications. Apply quickly and effectively with minimal filtering.
                            </p>
                        </div>
                        <div class="col-md-4 m-auto" style="display: flex; align-items: center;">
                            <div style="width:300px; height: 300px; border-radius:50%; background: var(--rose)">
                                <div class="m-auto" th:replace="partials/svgpartials :: jobIcon" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 4rem">
                <div class="col-md-12">
                    <div class="row border-0" data-aos="fade-right">
                        <div class="col-md-4 m-auto" style="display: flex; align-items: center;">
                            <div style="width:300px; height: 300px; border-radius:50%; background: var(--rose)">
                                <div class="m-auto" th:replace="partials/svgpartials :: eventIcon" ></div>
                            </div>
                        </div>
                        <div class="col-md-8 my-auto pl-5">
                            <h3 class="card-title mb-1">Tech Events</h3>
                            <hr class="hr-light w-50">
                            <p class="card-text">
                                Stay in the loop with TechTrek's event listings! Find out essential information
                                regarding upcoming Tech Talks, career fairs, networking opportunities, interest groups and more at the click of a mouse.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



<!--    <section class="section text-center">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-12 col-md-10">-->
<!--                    <h2 class="title mb-4" data-aos="fade-up">Functionality...</h2>-->
<!--                    <ul class="nav nav-pills nav-pills-rose justify-content-center mt-5" role="tablist">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" id="pills-edinburgh-tab" data-toggle="pill" href="#pills-resume"-->
<!--                               role="tab" aria-controls="pills-resume" aria-selected="true"-->
<!--                               data-aos="fade-up">Resumes</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab"-->
<!--                               aria-controls="pills-jobs" aria-selected="false" data-aos="fade-up" data-aos-delay="150">Job-->
<!--                                Listings</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="pills-events-tab" data-toggle="pill" href="#pills-events" role="tab"-->
<!--                               aria-controls="pills-events" aria-selected="false" data-aos="fade-up"-->
<!--                               data-aos-delay="300">Tech Events</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div class="tab-content tab-space pb-0">-->
<!--                        <div class="tab-pane active" id="pills-resume" role="tabpanel"-->
<!--                             aria-labelledby="pills-resume-tab">-->
<!--                            <p data-aos="fade-up">Your resume is a critical component of your transition to tech.-->
<!--                                Highlighting your-->
<!--                                skills, projects, and prior experience will help you stand out from the crowd. Upload-->
<!--                                and receive-->
<!--                                feedback easily from your placement team with TechTrek's Resume Portal.</p>-->
<!--                        </div>-->
<!--                        <div class="tab-pane" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">-->
<!--                            <p>Never miss a job opportunity with TechTrek's job listings page! Populated by your-->
<!--                                placement team, TechTrek only shows openings relevant to your cohort's qualifications.-->
<!--                                Apply quickly-->
<!--                                and effectively with minimal filtering.</p>-->
<!--                        </div>-->
<!--                        <div class="tab-pane" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab">-->
<!--                            <p>Stay in the loop with TechTrek's event listings! Find out essential information-->
<!--                                regarding upcoming Tech Talks, career fairs, networking opportunities, interest groups-->
<!--                                and more at-->
<!--                                the click of a mouse.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


    <section class="section pb-5">
        <div class="container">
            <div class="landing-text container">


                <!-- Not Authenticated View -->
                <div sec:authorize="isAnonymous()" class="landing-buttons container mt-4">
                    <div class="row justify-content-center">
                        <h2 class="title mb-4" data-aos="fade-up">Begin your journey!</h2>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <a class="btn btn-rose btn-round" th:href="@{/login}" name="login" role="button" data-toggle="modal" data-target="#loginModal">
                                <strong>Login</strong>
                            </a>
<!--                            <button type="button" class="btn btn-primary LoginButton w-100" name="login"-->
<!--                                    data-toggle="modal"-->
<!--                                    data-target="#loginModal">-->
<!--                                Login-->
<!--                            </button>-->
                        </div>
                        <div class="col-sm">
                            <button type="button" class="btn btn-primary registerButton w-100" name="register"
                                    data-toggle="modal"
                                    data-target="#registerModal">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Not Authenticated View -->


                <!-- Authenticated View -->
                <div sec:authorize="isAuthenticated()" class="landing-buttons container mt-4">
                    <div class="row">
                        <div class="col-sm w-100">
                            <h4>Logged in: <span class="badge badge-pill badge-success"
                                                 th:text="${#authentication.principal.username}"></span></h4>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm">
                            <a class="text-white" th:href="@{/home}">
                                <button type="button" name="Dashboard" class="btn btn-primary w-100">
                                    Dashboard
                                </button>
                            </a>
                        </div>

                        <div class="col-sm">
                            <a class="text-white" th:href="@{/logout}">
                                <button type="button" name="Logout" class="btn btn-danger w-100">Logout
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- End Authenticated View -->

            </div>

        </div>
    </section>
</main>
<footer class="py-4 page-footer">
    <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-auto">
                <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/TechTrek-capstone/TechTrek">



            </div>
        </div>
    </div>
</footer>

<button class="btn btn-rose btn-fab btn-fab-mini btn-round position-fixed back-to-top is-hidden">
    <i class="material-icons">keyboard_arrow_up</i>
</button>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/bootstrap-material-design.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/material-kit.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript" th:src="@{/js/landingPage.js}"></script>
</body>
</html>
