<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Add Company</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container>
    <h1 class="mt-3 text-center">Add Company</h1>

    <form th:action="@{/companies/create}" th:method="POST" th:object="${company}" class="w-50 ml-auto mr-auto" id="createCompanyForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name">Company name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="ex. USAA, Accenture, Google, etc." required>
            </div>

            <div class="form-group col-md-12">
                <label for="logo">Upload logo image</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="logo">
                    <label class="custom-file-label" for="logo">Choose file</label>
                </div>
                <!--                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="ex. USAA, Accenture, Google, etc." required>-->
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Submit</button>

    </form>

</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>