<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Companies - Edit</title>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <nav th:replace="partials/partials :: studentNav" th:if="${user.userPerm == 'student'}"></nav>
    <nav th:replace="partials/partials :: adminNav" th:if="${user.userPerm == 'admin'}"></nav>

<main class="page-content">
    <h1 class="mt-3 text-center">Edit Company</h1>

    <form class="w-75 mx-auto" th:method="POST" th:action="@{'/companies/' + ${company.getId()} + '/edit'}">

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name">Company name</label>
                <input type="text" class="form-control text-left" id="name" name="name" th:value="${company.name}" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="col-lg-3 col-form-label form-control-label">Change company logo</label>
                <div class="col-lg-9">
                    <button type="button" id="uploadLogoImg" class="btn btn-primary rounded-pill">Choose file</button>

                    <i id="uploadSuccessful" class="far fa-check-circle text-success ml-2 " style="display: none; font-size: 1.25rem"></i>

                    <input type="hidden" name="logo_img" id="logoImg" th:value="${company.logoImg}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>

</main>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
<script>

    let client = filestack.init("A4cXA0jCTTJGCdD6ep1Btz");

    // Script to upload profile pic
    $("#uploadLogoImg").click(function () {

        client
            .pick({
                accept: 'image/*',
                maxFiles: 1
            })
            .then(function (result) {
                let resultJSON = JSON.parse(JSON.stringify(result));

                // store resume url in variable, pass that variable as a value to the view
                let fsURL = resultJSON.filesUploaded[0].url;
                $("#logoImg").val(fsURL);
                // $("#resumeUploadTBlock").submit();
            })
            .then(function () {
                $("#uploadSuccessful").show();
            });
    });
</script>
</body>
</html>
