<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container class="text-center">
    <h1 class="mt-3">Companies</h1>

    <table class="table table-striped w-50 mr-auto ml-auto">
        <thead>
        <tr>
            <th scope="col">Logo</th>
            <th scope="col">Company</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="company : ${companies}">
            <td>Logo</td>
            <td th:text="${company.name}">Company name</td>
            <td>
                    <span class="w-25 mr-auto ml-auto" style="display: flex; justify-content: space-evenly">

                        <a th:href="@{'/companies/' + ${company.id} + '/edit'}"><button class="btn btn-link" style="font-size: 1.5rem"><i class="fa fa-edit"></i></button></a>

                        <button data-toggle="modal" th:data-target="'#' + modalForId + ${company.id}"  class="btn btn-link text-danger" style="font-size: 1.5rem"><i class="fa fa-trash"></i></button>

                        <!-- Company delete confirmation modal -->

                        <div class="modal fade" th:id="modalForId + ${company.id}" tabindex="-1" role="dialog"
                             aria-labelledby="companyDeleteModalLabel"
                             aria-hidden="true">

                            <form th:action="@{'/companies/' + ${company.id} + '/delete'}" th:method="POST" th:object="${company}">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title text-center text-danger" id="companyDeleteModalLabel">Warning</h2>
                                        </div>
                                        <div class="modal-body">
                                            <p class="lead">
                                                Deleting the company is a permanent action and will also delete all job listings by this company. Please confirm to proceed.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- /end of modal -->

                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="mb-5 p-4 bg-white">
                <a th:href="@{/companies/create}" style="font-size: 1.5rem"><i class="fa fa-plus-circle"></i> Add new company</a>
            </td>
        </tr>
        </tbody>
    </table>

</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
