<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head th:replace="partials/partials :: head">
    <title>Jobs</title>
</head>

<body>
<nav th:replace="partials/partials :: navbar"></nav>

<container class="text-center">
    <h1 class="mt-3">Companies</h1>

    <!--    <div class="post-div mb-3" th:each="company : ${companies}">-->


    <!--        <h2 th:text="${post.title}" />-->
    <!--        <p th:text="${post.body}" />-->
    <!--    </div>-->


    <table class="table table-striped w-50 mr-auto ml-auto">
        <thead>
        <tr>
            <th scope="col">Logo</th>
            <th scope="col">Company</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="company : ${companies}">
            <td>Logo</td>
            <td th:text="${company.name}">Company name</td>
            <td>
                    <span style="font-size: 1.5rem; display: flex; justify-content: space-evenly">

                        <a th:href="@{'/companies/' + ${company.getId()} + '/edit'}"><i class="fa fa-edit"></i></a>
                        <!--                        <form method="POST" th:action="@{'/companies/' + ${company.getId()} + '/delete'}"></form>-->

                            <button data-toggle="modal" data-target="#companyDeleteModal" class="btn btn-link text-danger" style="font-size: 1.5rem"><i class="fa fa-trash"></i></button>
                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="mb-5 p-4">
                <a th:href="@{/companies/create}" style="font-size: 1.5rem"><i class="fa fa-plus-circle"></i> Add new company</a>
            </td>
        </tr>
        </tbody>
    </table>

</container>

<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>
